	<div class="container" id="linkintro">
		
		  <h1>Envie um Novo Vídeo !</h1>
		  <div class="col-md-8 col-md-offset-2">
		  <% @video = Video.new %>
		  <%= form_for @video do |f| %>
		    <%= render 'shared/errors', object: @video %>
	
		    <div class="form-group">
		      <%= f.text_field :link, required: true %><%= f.submit "Enviar Link", class: 'btn-laranja' %>
		      
		    </div>
		  <% end %>
		  </div>

		</div>