  <%= render :partial => "videos/form" %>

  <div class="container col-md-4 col-md-offset-4">
  <h3 style="font-size: 1.0em;"> AH! Só para lembrar, o seu vídeo precisa: </h3>
  		<p>1)Ser um link do youtube e </p>
 		<p> 2)Ter Minecraft no título ou descrição!</p>
  	
  </div>