<div class="fullintro" style="height:auto;">
      <div class="container">
      <h2><b>CONHEÇA NOVAS INFOS SOBRE MINECRAFT!<b></h2>
      <div class="col-md-4 col-xs-12">
        <%= image_tag("browser.svg", size:"125", class:"indexjumbotronimg" ) %>
        <h3>Envie um Vídeo</h3>
        <p>envie vídeos de minecraft para que outros conheçam o seu youtuber favorito!</p>
    </div>
      <div class="col-md-4 col-xs-12">
        <%= image_tag("appreciation.svg", size:"125", class:"indexjumbotronimg" ) %>
        <h3>Vote nos Melhores</h3>
        <p>vote nos vídeos que você mais gosta e crie listas.</p>
      </div>
      <div class="col-md-4 col-xs-12">
        <%= image_tag("smoked.svg", size:"125", class:"indexjumbotronimg" ) %>
        <h3>Descubra Youtubers!</h3>
        <p>conheça novos vídeos de minecraft</p>
      </div>
  </div>