// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

imgg {
    display: block;
    max-width:500px;
    max-height:500px;
    width: 50%;
    height: auto;
    background-color:red;
}